.footer {
  .short-info-footer {
    .short-text {
      margin-top: 50px;
      p {
        font-size: 18px;
        font-weight: 400;
        color: $white;
        line-height: 30px;
        padding-right: 60px;
      }
    }
  }
  .footer-brefore-list {
    h4 {
      color: $white;
      font-weight: 700;
      font-size: 20px;
    }
    .before-list {
      margin-top: 52px;
      a {
        display: block;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
